<div class="modal-overlay" (click)="cancel()">
  <div class="modal-content" (click)="$event.stopPropagation()">
    <button class="close-button" (click)="cancel()">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
      </svg>
    </button>
    <h2>Edit Station</h2>
    <form class="py-4" (ngSubmit)="saveChanges()">
      <div>
        <label for="station_id">Station ID:</label>
        <span>{{ selectStation.st_id }}</span>
      </div>
      <div>
        <label for="st_name">Station Name:</label>
        <input type="text" id="st_name" name="st_name" [(ngModel)]="selectStation.station_name" required>
      </div>
      <div>
        <label for="lat">Latitude:</label>
        <input type="text" id="lat" name="lat" [(ngModel)]="selectStation.lat" required>
      </div>
      <div>
        <label for="lon">Longitude:</label>
        <input type="text" id="lon" name="lon" [(ngModel)]="selectStation.lon" required>
      </div>
      <!-- Add other station properties as needed -->
      
      <!-- Add space here -->
      <div style="margin-bottom: 1rem;"></div>
      
      <div class="flex justify-end">
        <div class="mr-4">
          <button type="submit" class="btn-save">Save Changes</button>
        </div>
        <div class="mr-4">
          <button type="button" (click)="cancel()" class="btn-cancel">Cancel</button>
        </div>
      </div>
    </form>
  </div>
</div>
