<div class="table-container max-h-screen overflow-y-auto scrollbar-thumb-rounded scrollbar-track-rounded grow overflow-auto scrollbar-thin -thumb-white scrollbar-track-gray-100 dark:scrollbar-thumb-night-700 dark:scrollbar-track-night-800">
  <table class="flex-col w-full">
    <thead>
      <tr class="sticky top-0 bg-white dark:bg-night-700 z-[10] uppercase text-gray-400 dark:text-white text-sm">
        
        <th class="p-2">{{ translations[currentLanguage]['Camera Location'] }}</th>
        <th class="p-2">{{ translations[currentLanguage]['Camera No.'] }}</th>
        <th class="p-2">{{ translations[currentLanguage]['Camera Status'] }}</th>
        <th class="p-2">{{ translations[currentLanguage]['Days Since Last Maintenance'] }}</th>
      </tr>      
    </thead>
    <tbody>
      <ng-container *ngFor="let location of jsonData; let i = index" class="" >
        <!-- Row for each location -->
        <tr *ngIf="i > 0" class="border-t">
          <td class=""></td>
          <td class=""></td>
          <td class=""></td>
          <td class=""></td>
        </tr>
  
        <tr class="leading-8 hover:bg-gray-100 dark:border-night-50 dark:hover:bg-night-900">
          <td class="px-3  text-left font-bold text-gray-900 dark:text-night-50">{{ location.location_name }}</td>
          <td class="text-center font-bold text-gray-900 dark:text-night-50">
            <ng-container *ngFor="let camera of location.cameras">
              {{ camera.camera_no }}<br>
            </ng-container>
          </td>
          <td class="text-center font-bold text-white">
            <ng-container *ngFor="let camera of location.cameras">
              <span [ngClass]="{'bg-green-500 rounded-lg px-3 ': camera.status === 'active', 'bg-red-500 rounded-md px-4 ': camera.status === 'inactive'}">
                {{ camera.status }}
              </span><br>
            </ng-container>
          </td>
          <td class="text-right px-8 py-2 text-gray-900 dark:text-night-50">
            <ng-container *ngFor="let camera of location.cameras">
              {{ camera.days_after_last_maintenance }}<br>
            </ng-container>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>
