
  <div class="flex h-screen w-screen " >
    
    <div class="auth-bg hidden bg-cover  lg:flex" style="width: 70%; background-image: url('assets/Bard_Generated_Image.jpg');">
    </div>
    <div class="flex flex-1 items-center justify-center bg-white" style="width: 30%;">
      <div class="max-w-md overflow-y-auto px-4 sm:w-[500px]">
        <!-- logo -->
        <div class="flex items-center justify-center">
          <a class="rounded  p-2">
            <img src="assets/logo.png">
          </a>
        </div>
        <p class="text-md font-bold text-gray-700 dark:text-white text-center">Smart Traffic Monitor Application 1.0</p>
        <!-- Route -->
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
