<!-- Button to open the modal -->
<button (click)="openModal()" class="bg-blue-500 text-white px-4 py-2 rounded-md">Camera Setting</button>

<!-- Modal -->
<div *ngIf="showModal" class="fixed inset-0 flex items-center justify-center bg-gray-900 bg-opacity-60 backdrop-blur-md">
  <div class="bg-white dark:bg-night-800 rounded-lg p-8 max-h-[80%] overflow-y-auto scrollbar-thumb-rounded scrollbar-track-rounded  overflow-auto scrollbar-thin scrollbar-thumb-white scrollbar-track-gray-100 dark:scrollbar-thumb-night-700 dark:scrollbar-track-night-800">
    <!-- Modal header -->
    <div class="sticky top-0  flex justify-between items-center mb-4">
        <div></div>
        <button (click)="closeModal()" class="text-gray-600 hover:text-gray-800">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
          </svg>
        </button>
    </div>
    <!-- Modal content -->
    <div class="table-container ">
      <table class="w-full">
        <thead>
          <tr class="bg-white dark:bg-night-700 z-[10] uppercase text-gray-400 dark:text-white text-sm">
            <th class="p-2">{{ translations[currentLanguage]['Camera No.'] }}</th>
            <th class="p-2">{{ translations[currentLanguage]['Camera Link'] }}</th>
            <th class="p-2">{{ translations[currentLanguage]['Actions'] }}</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let location of jsonData; let i = index">
            <tr>
              <td colspan="2" class="px-3 font-bold text-gray-900 dark:text-night-50">
                {{ location.location_name }}
                <button (click)="addCamera(location)" class="bg-blue-500 rounded-md px-4 ml-2">Add Camera</button>
              </td>
            </tr>
            <ng-container *ngFor="let camera of location.cameras; let j = index">
              <tr class="leading-8">
                <td class="text-center font-bold text-gray-900 dark:text-night-50">
                  {{ camera.camera_no }}
                </td>
                <td class="text-center font-bold text-gray-900 dark:text-night-50">
                  {{ maskLink(camera.streaming_link) }}

                </td>
                <td class="text-center">
                  <!-- Edit button -->
                  <button (click)="editCamera(camera)" class="bg-blue-500 rounded-md px-4 mr-2">Edit</button>
                  <!-- Delete button -->
                  <button (click)="deleteCamera(camera)" class="bg-red-500 rounded-md px-4">Delete</button>
                </td>
              </tr>
            </ng-container>
          </ng-container>
        </tbody>
      </table>
    </div>
  </div>
</div>
<app-edit-modal *ngIf="showEditModal" [camera]="selectedCamera" (saveChangesAction)="saveChanges($event)" (cancelAction)="closeEditModal()"></app-edit-modal>