<div class="max-w-md mx-auto" (click)="openModal()">
  <div class="bg-white overflow-hidden shadow rounded-lg cursor-pointer">
    <div class="px-4 py-5 sm:px-6">
      <h3 class="text-lg font-medium leading-6 text-gray-900">Camera Configuration</h3>
    </div>
    <div class="px-4 py-4 sm:p-6">
      <p class="text-sm text-gray-500">Click on the card to configure camera.</p>
    </div>
  </div>
</div>


<!-- Modal -->
<div *ngIf="showModal" class="fixed inset-0 flex items-center justify-center bg-gray-900 bg-opacity-60 backdrop-blur-md">
  <div class="bg-white rounded-lg p-8 max-h-[80%] overflow-y-auto scrollbar-thumb-rounded scrollbar-track-rounded overflow-auto scrollbar-thin scrollbar-thumb-white scrollbar-track-gray-100 ">
    <!-- Modal header -->
    <div class="sticky top-0 flex justify-between items-center mb-4">
      <h2 class="text-lg font-semibold text-gray-900">Camera Management</h2>
      <button (click)="closeModal()" class="text-gray-600 hover:text-gray-800">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
        </svg>
      </button>
    </div>
    <!-- Table to display camera data -->
    <table class="min-w-full divide-y divide-gray-200">
      <thead class="bg-gray-50">
        <tr>
          <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Station ID</th>
          <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Camera ID</th>
          <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Camera Port</th>
          <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Camera SN</th>
          <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Actions</th>
          <!-- Add other camera properties you want to display -->
        </tr>
      </thead>
      <tbody class="bg-white divide-y divide-gray-200 ">
        <!-- Iterate through stationDataList -->
        <ng-container *ngFor="let stationData of stationDataList">
          <!-- Get cameras for the current station -->
          <ng-container *ngIf="getCamerasForStation(stationData.id).length > 0">
            <!-- Cameras are available for this station -->
            <ng-container *ngFor="let camera of getCamerasForStation(stationData.id)">
              <tr>
                <!-- Display station ID for the first camera only -->
                <td *ngIf="getCamerasForStation(stationData.id).indexOf(camera) === 0" [attr.rowspan]="getCameraCount(stationData.id)" class="px-6 py-4 whitespace-nowrap text-sm text-gray-900 ">{{ stationData.id }}</td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-900 ">{{ camera.id }}</td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-900 ">{{ camera.camera_port }}</td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-900 ">{{ camera.camera_sn }}</td>
                <!-- Add other camera properties you want to display -->
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                  <button (click)="editCamera(camera)" class="text-indigo-600 hover:text-indigo-900 px-3 py-1 rounded-md bg-indigo-100 hover:bg-indigo-200 focus:outline-none focus:bg-indigo-200 mr-2">Edit</button>
                  <button (click)="startCamera(camera)" class="text-green-600 hover:text-green-900 px-3 py-1 rounded-md bg-green-100 hover:bg-green-200 focus:outline-none focus:bg-green-200 mr-2">Start</button>
                  <button (click)="stopCamera(camera)" class="text-red-600 hover:text-red-900 px-3 py-1 rounded-md bg-red-100 hover:bg-red-200 focus:outline-none focus:bg-red-200 mr-2">Stop</button>
                  <button (click)="DeleteCamera(camera)" class="text-red-600 hover:text-red-900 px-3 py-1 rounded-md bg-red-100 hover:bg-red-200 focus:outline-none focus:bg-red-200">Delete</button>
                </td>
                               
              </tr>
            </ng-container>
          </ng-container>
          <!-- If no cameras exist for the current station -->
          <ng-container *ngIf="getCamerasForStation(stationData.id).length === 0">
            <tr>
              <td>{{ stationData.id }}</td>
              <td colspan="4" class="px-6 py-4 whitespace-nowrap text-sm text-gray-900">No camera data available for this station.</td>
            </tr>
          </ng-container>
        </ng-container>
      </tbody>
    </table>
    <button (click)="openModalnew()" class="bg-blue-500 text-white px-4 py-2 rounded-md">Add Camera</button>
  </div>
</div>
<app-edit-modal 
  *ngIf="showEditModal" 
  [camera]="selectedCamera" 
  (saveChangesAction)="saveChanges($event)" 
  (cancelAction)="closeEditModal()">
</app-edit-modal>

<app-add-modal 
  *ngIf="showAddModal" 
  [newCamera]="newCamera" 
  (saveChangesAction)="saveAdds($event)" 
  (cancelAction)="closeEditModal()">
</app-add-modal>