<div class="grid grid-cols-3 p-8 gap-4 h-5/6 w-4/5 mx-auto">
    <div class="  rounded-lg flex flex-col justify-center items-center">
      <button crud-camera class="py-2 px-4 rounded-t-lg ">
        <span>Camera Setting</span>
      </button>
      <div class="p-4">
        <!-- Content for camera settings card -->
        <!-- You can add any additional content here -->
      </div>
    </div>
    <div class="rounded-lg flex flex-col justify-center items-center">
      <button crud-station class="py-2 px-4 rounded-t-lg ">
        <span>station Config</span>
      </button>
      <div class="p-4">
        <!-- Content for user config card -->
        <!-- You can add any additional content here -->
      </div>
    </div>

    <div class="rounded-lg flex flex-col justify-center items-center">
      <button crud-user class="py-2 px-4 rounded-t-lg ">
        <span>Station Config</span>
      </button>
      <div class="p-4">
        <!-- Content for user config card -->
        <!-- You can add any additional content here -->
      </div>
    </div>
  </div>
  