<div *ngFor="let station of stationDataList" class="p-4 bg-whtite rounded-lg">
    <h2 (click)="toggleCollapse(station)" class="cursor-pointer p-8 bg-white">
      {{ station.station_name }}
    </h2>
    <div *ngIf="!station.collapsed" class="bg-white rounded-lg p-4 mt-2">
      <div *ngIf="getCamerasForStation(station.id).length > 0; else noCameraData" class="mb-4">
        <div *ngFor="let camera of getCamerasForStation(station.id)" class="mb-4">
          <!-- Display camera information -->
          <div class="mb-2">
            <span class="font-semibold">Camera ID:</span> {{ camera.id }}
          </div>
          <div class="mb-2">
            <span class="font-semibold">Camera URL:</span> {{ camera.camera_url }}
          </div>
          <!-- Add other camera properties as needed -->
          <button (click)="openModal(camera)" class="bg-gray-300 text-gray-700 px-4 py-2 rounded-md">View Details</button>
        </div>
      </div>
      <ng-template #noCameraData>
        <p class="text-gray-500">No camera data available for this station.</p>
      </ng-template>
    </div>
  </div>

  
  <!-- Modal -->
  <div *ngIf="showModal" class="modal-overlay">
    <div class="modal-content">
      <h2>Camera Details</h2>
      <div>
        Camera ID: {{ selectedCamera?.id }}
      </div>
      <div>
        Camera URL: {{ selectedCamera?.camera_url }}
      </div>
      <!-- Add other camera details as needed -->
      <button (click)="closeModal()" class="close-button">Close</button>
    </div>
  </div>
  