
    <!-- Card Header -->

    <apx-chart style="width: 100%;"
      [series]="chartOptions.series!"
      [chart]="chartOptions.chart!"
      [legend]="chartOptions.legend!"
      [dataLabels]="chartOptions.dataLabels!"
      [fill]="chartOptions.fill!"
      [stroke]="chartOptions.stroke!"
      [xaxis]="chartOptions.xaxis!"
      [yaxis]="chartOptions.yaxis!"
      [responsive]="chartOptions.responsive!"
      [states]="chartOptions.states!"
      [tooltip]="chartOptions.tooltip!"
      [colors]="chartOptions.colors!"
      [grid]="chartOptions.grid!"
      [title]="chartOptions.title!"
      [theme]="chartOptions.theme!"
      >
    </apx-chart>
    