<div class="flex-col rounded-lg bg-white dark:bg-night-800 sm:flex-row p-4">
  <div class="mb-4 flex items-center justify-between">
    <div class="flex-col col-span-1 items-center">
      <h3 class="text-lg font-semibold text-gray-900 dark:text-night-50">{{ translations[currentLanguage]['History Table'] }}</h3>
      <span class="text-sm text-gray-600 dark:text-night-300">{{ translations[currentLanguage]['From JSON'] }}</span>
    </div>
    <div class="flex-none rounded-md py-2.5 text-sm font-semibold text-gray-600 dark:text-night-200">
      <label for="timeRange" class="flex-none px-2 py-1 text-sm font-semibold text-gray-600 hover:text-gray-700 dark:text-night-50">
        {{ translations[currentLanguage]['Select Time Range'] }}
      </label>
      <select id="timeRange" class="rounded-md p-2 text-sm text-gray-900 dark:text-night-50" [(ngModel)]="selectedFilter" (change)="loadData(selectedFilter)">
        <option value="1day">{{ translations[currentLanguage]['Last 1 Day'] }}</option>
        <option value="7days">{{ translations[currentLanguage]['Last 7 Days'] }}</option>
        <option value="30days">{{ translations[currentLanguage]['Last 30 Days'] }}</option>
        <option value="1year">{{ translations[currentLanguage]['Last 1 Year'] }}</option>
      </select>
    </div>    
  </div>

  <div class="pagination-controls flex items-center justify-between mb-4 p-4">
    <button class="bg-primary-500 text-white px-4 py-2 rounded-md" (click)="prevPage()" [disabled]="currentPage === 1">{{ translations[currentLanguage]['Previous'] }}</button>
    <span class="text-gray-600 dark:text-night-300">{{ translations[currentLanguage]['Page'] }} {{ currentPage }} {{ translations[currentLanguage]['of'] }} {{ totalPages }}</span>
    <button class="bg-primary-500 text-white px-4 py-2 rounded-md" (click)="nextPage()" [disabled]="currentPage === totalPages">{{ translations[currentLanguage]['Next'] }}</button>
  </div>
  <div id="pdfContent">
  <div class="relative overflow-x-auto p-4">
    <table class="w-full table-auto">
      <thead class="text-xs uppercase text-gray-600 dark:text-night-300">
        <tr>
          <th class="py-3 text-left">{{ translations[currentLanguage]['Date'] }}</th>
          <th class="py-3 text-left">{{ translations[currentLanguage]['Time'] }}</th>
          <th class="py-3 text-right">{{ translations[currentLanguage]['Speed'] }}</th>
          <th class="py-3 text-right">{{ translations[currentLanguage]['Vehicle Type'] }}</th>
          <th class="py-3 text-right">'Station ID</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of jsonData.slice((currentPage-1)*itemsPerPage, currentPage*itemsPerPage)" class="border-b border-dashed border-gray-200 hover:bg-gray-100 dark:border-night-50 dark:hover:bg-night-900">
          <td class="text-gray-900 dark:text-night-50">{{ item.record_time | date:'shortDate' }}</td>
          <td class="text-gray-900 dark:text-night-50">{{ item.record_time | date:'shortTime' }}</td>
          <td class="py-3 text-right font-semibold text-gray-900 dark:text-night-50">{{ item.v_count }}</td>
          <td class="py-3 text-right font-semibold text-gray-900 dark:text-night-50">{{ item.v_type }}</td>
          <td class="py-3 text-right font-semibold text-gray-900 dark:text-night-50">{{ item.station_id }}</td>
        </tr>
      </tbody>
    </table>
    <button class="export-button" (click)="exportToPDF()">Export to PDF</button>  
  </div>
  </div>
</div>
