<div class="mx-auto px-4 py-4 sm:px-8 "  style="width: 90%;">
  <!-- Header -->
  <app-main-header></app-main-header>
  <!-- end Header -->
  <div class="grid grid-cols-1 lg:grid-cols-12 gap-4">
    
    <div map class="flex  min-h-[40rem] col-span-12 rounded-lg p-4 bg-white dark:bg-night-800"></div>
      
    
    <div camera-table class="flex max-h-[400px]  overflow-y-auto flex-col col-span-8 rounded-lg bg-white py-8 px-4 dark:bg-night-800 "></div>
    <div class="grid max-h-[400px] grid-rows-2 grid-flow-col col-span-4 gap-4">
      <div cemera-warning class="flex row-span-2  flex-col col-span-4 rounded-lg bg-white py-4 px-4 dark:bg-night-800 "></div>
    </div>
    <div class="grid  grid-rows-3 grid-flow-col col-span-4 gap-4">
    </div>
    <div api-stacked-column class="flex flex-col  col-span-12 rounded-lg bg-white p-8 dark:bg-night-800 ">
    </div>
    

    
    
    

    </div>
  </div>

